/* Breakpoint personalizado para 995px */
@media (min-width: 996px) {
    .custom-lg\:flex {
        display: flex !important;
    }

    .custom-lg\:hidden {
        display: none !important;
    }
}

@media (max-width: 995px) {
    .custom-lg\:flex {
        display: none !important;
    }

    .custom-lg\:hidden {
        display: block !important;
    }
}